*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

.main{
    width: 100%;
    background-color: pink;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul li{
    list-style-type: none;
    padding: 0;
}

ul li a{
    text-decoration: none;
    text-align: center;
    color: deeppink;
    display: block;
    padding: 10px;
}
ul li a:hover{
    color: lightskyblue;
}
@media screen and (max-width: 768px) {
    ul{
        display: flex;
        justify-content:space-between;
    }
    ul li{
        flex: 1 1 0;
    }

  }


.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;

}
.container span{
    color: deeppink;
    text-transform: uppercase;
    display: block;
    
}
.text1{
    color: deeppink;
    font-size: 30px;
    font-weight: 700;
    left: 10%;
    height: auto;
    float: top;
    letter-spacing: 8px;
    margin-bottom: -20px;
    position: relative;
    animation: text 3s 1;
}
.center{ 
  text-align: match-parent;
  height: 200px;
  width: 30%;
  line-height: 2;
  margin-top: 200px;
  margin-right: 80px;
  margin-left: 200px;
  vertical-align: text-bottom;
   
}
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
    
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: magenta;
}
p{
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
    color: magenta;
    font-size: larger;
}
.interest{
    background-image: url(4.jpeg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
}


